build_*/
out/
*.pyc
*.bak
*.autosave
*.swp
.DS_Store
*.user
src/core/third_party/python/Python-*
src/core/third_party/python/.gitattributes
src/wows/plugins/plg_maps_settings/scripts/.svn/*
src/wows/plugins/plg_maps_settings/scripts/MapsSettingsEditor

